html {
  font-size: 62.5%; //1rem = 10px
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-block: 0;
}

body {
  margin: 0;
  padding: 0 2rem;
  position: relative;
}

body::before {
  content: '';
  background-image: url('../images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 50rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
