@use '../globals/breakpoints' as *;

html {
  font-size: 62.5%; //1rem = 10px
  box-sizing: border-box;

  @media only screen and (max-width: $xsm) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  margin-block: 0;
}

body {
  margin: 0;
  padding: 0 2rem;
  position: relative;
  background-color: var(--bacground-color);
  transition: all 0.3s ease-in-out;
}

.bg {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 20rem;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;

  background-image: var(--bacground-image-lg);

  @media only screen and (max-width: $sm) {
    background-image: var(--bacground-image-sm);
  }
}
