@use '../util' as *;
@use './globals/breakpoints' as *;

body {
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

// HEADER TYPOGRAPHY
.header__logo-text {
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 1.3rem;
}

// TASK TYPOGRAPHY

.task__description {
  font-size: 1.6rem;
  font-weight: 400;

  @media only screen and (max-width: $sm) {
    font-size: 1.35rem;
  }
}

// FILTER TYPOGRAPHY
.filter__text {
  font-size: 1.4rem;
  color: var(--VeryDarkGrayishBlueD1);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.filter__text:hover {
  color: var(--LightGrayishBlueHover);
}
