@use '../globals/' as *;

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--field-bg);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.filter {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 2rem;

    @media only screen and (max-width: $sm) {
      justify-content: space-evenly;
    }
  }

  &__text {
    padding: 2rem 0rem;
  }

  &__large {
    @media only screen and (max-width: $sm) {
      display: none;
    }
  }

  &__small {
    margin-top: 1.5rem;
    background-color: var(--field-bg);
    padding: 1.5rem 0rem;
    border-radius: 5px;
    display: none;

    @media only screen and (max-width: $sm) {
      display: flex;
    }
  }
}
