.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
