.input {
  display: flex;
  margin-top: 5rem;
  border-radius: 5px;
  background-color: var(--field-bg);
  transition: all 0.3s ease-in-out;

  &__circle {
    flex-grow: 0;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  &__circle-img {
    width: 2.6rem;
    height: 2.6rem;
    display: block;
    background: var(--circle-color);
    transition: all 0.3s ease-in-out;
    mask-image: url('../images/circle.svg');
    mask-repeat: no-repeat;
    mask-size: 90%;
    mask-position: center center;
    border-radius: 50%;
  }

  &__area {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__field {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 1.6rem;
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    padding: 2rem 0rem;
  }

  &__submit {
    display: none;
  }
}
