@use '../globals/' as *;

.list-section {
  margin-top: 2.5rem;
}

.task {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--VeryDarkDesaturatedBlue);
  }

  &__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--VeryDarkGrayishBlueD2);
  }

  &__description {
    flex-grow: 1;
    color: var(--LightGrayishBlueD1);
    font-weight: 400;
    cursor: pointer;
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
    display: block;
    background-color: var(--VeryDarkGrayishBlueD2);
    background-image: none;
    mask-repeat: no-repeat;
    mask-position: center center;
    border-radius: 50%;
    flex-grow: 0;
    mask-size: 75%;
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: $sm) {
      mask-size: 65%;
    }
  }

  &__icon:hover {
    background-image: var(--CheckBackground);
  }

  &__checkbox,
  &__edit,
  &__delete {
    padding: 2rem;
    position: relative;

    @media only screen and (max-width: $sm) {
      padding: 1.35rem 1rem;
    }
  }

  &__checked {
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    left: 50%;
    top: 50%;
    background-image: url('../images/icon-check.svg'), var(--CheckBackground);
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 5;

    @media only screen and (max-width: $sm) {
      width: 2.35rem;
      height: 2.35rem;
    }
  }
}

.controls {
  visibility: visible;
  opacity: 1;
}

// @media (hover: hover) {
//   .controls {
//     /* Styles for hover-able devices */
//     visibility: hidden;
//     opacity: 0;
//   }
//   .task__item:hover .controls {
//     visibility: visible;
//     opacity: 1;
//   }
// }

@media only screen and (max-width: $md) {
  .controls {
    visibility: hidden;
    opacity: 0;
  }
  .task__item:hover .controls {
    visibility: visible;
    opacity: 1;
  }
}

.circle-icon {
  mask-image: url('../images/circle.svg');
  mask-size: 90% !important;

  @media only screen and (max-width: $sm) {
    mask-size: 75% !important;
  }
}

.delete-icon {
  mask-image: url('../images/bin.svg');
}

.edit-icon {
  mask-image: url('../images/pencil.svg');
}

.task-done {
  color: var(--VeryDarkGrayishBlueD1);
  text-decoration: line-through;
  font-weight: 700;
}
